.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;

    &:disabled {
      background-color: rgba(216, 143, 66, 0.5);
      cursor: not-allowed;
    }

    &.active {
      background-color: #fff;
      font-weight: bold;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  .total-pages {
    margin-left: 10px;
    font-size: 16px;
    color: $black;
  }
}
