$primary-color: #d88f42;
$delivered-color: #8de02c;
$pending-color: #e9b10a;
$return-color: #f00;
$in-progress-color: #1795ce;
$white: #fff;
$black: #000;

.categories-container {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  font-size: 20px;
  font-weight: 400;
}

.categories-card {
  position: relative;
  display: grid;
  min-height: 500px;
  background: $white;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border: 3px solid $primary-color;
}
